#flex-headers {
    display: flex;
    width: 800px;
}
#flex-items {
    display: flex;
}

.column1 {
    /* width: 50px; */
    flex: 1 20%;
}

.column2 {
    /* width: 100px; */
    flex: 2 70%
}

.column3 {
    /* width: 10px; */
    flex: 3 10%
}

li {
    /* border:2px solid blue; */
    width: 800px;
    padding-bottom:5px;
}

#idList {
    margin-left: 15px;
    font-size: 80%;
}

#ids {
    font-size: 90%;
}

#user-index-body {
    background-image: url('https://images.freeimages.com/images/large-previews/aff/gift-1177512.jpg');
    background-color: wheat;
    background-repeat:no-repeat;
}