<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Giver</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Add a new Giver</h1><br><br>

    <form action="/givers" method="post">
        Giver Name: <input type="text" name="givername"><br><br>
        Address: <input type="text" name="address"><br><br>
        Gift(s): <input type="text" name="gifts"><br><br>
        <input type="submit" value="Add Giver">
    </form>
</body>
</html>