<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Index</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Common Tasks</h1>

    <a href="/newgiver">Add Givers</a><br><br>
    <a href="/unassigned">Assign Givers to me</a><br><br>
    <a href="/users/list">See my To-Do List</a><br><br>
    <a href="/users/profile/<%=user.id%>">Edit my Profile</a>

</body>
</html>